<aside class='bg-gray rounded-lg p-4 mb-8'>
	<p>
		This website serves primarily as a personal tool for reviewing and
		ensuring that I’ve met all the necessary criteria for creating effective
		client websites. If you find it useful, feel free to use it as a resource
		and share it with others. If you have any additional website tips or
		tricks, I’d love to hear from you.
	</p>
</aside>
